<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="SalvarXMLServico" value="1" />
  <add key="CertificadoArquivo" />
  <add key="CertificadoArray" />
  <add key="CertificadoTipo" value="A1Repositorio" />
  <add key="CertificadoSerial" value="72432AD7094F8910" />
  <add key="CertificadoSenha" />
  <add key="CertificadoehArray" value="False" />
  <add key="ArquivosMesAno" value="True" />
  <add key="DiretorioXML" value="C:\Sistemas\Projetos\Sistema\nfe\" />
  <add key="DiretorioSchemas" value="C:\Sistemas\Projetos\Sistema\nfe\schemas" />
  <add key="EstadoEmitente" value="PI" />
  <add key="CNPJEmitente" value="28.693.962/0001-92" />
  <add key="ModeloDocumento" value="NFe" />
  <add key="TimeOut" value="30000" />
  <add key="TipoAmbiente" value="Producao" />
  <add key="TipoEmissao" value="teNormal" />
  <add key="VersaoXML" value="ve400" />
  <add key="NFCeIdToken" value="000001" />
  <add key="NFCeCSC" />
  <add key="CNPJSoftHouse" value="02.382.419/0001-80" />
  <add key="Desenvolvedor" value="OnLine Info" />
  <add key="LicencaDLL" value="26d706a0db7c47ac0ed8f3df81f292c129cf89f2da7d48c70a9eff58f401ac0b" />
  <add key="EmailServidorSMTP" value="email-smtp.us-east-1.amazonaws.com" />
  <add key="EmailPorta" value="587" />
  <add key="EmailTimeOut" value="100000" />
  <add key="EmailAssincrono" value="True" />
  <add key="EmailUsuario" value="AKIA6AEVPOPLJCEIRZH4" />
  <add key="EmailSenha" value="BFvfiARCZ7htYFUEm4h22lcNRgnn6oYssDsPhSrObH+8" />
  <add key="EmailSSL" value="True" />
  <add key="EmailResposta" value="seuemail@gmail.com" />
  <add key="EmailNomeRemetente" value="CLECIA VIANA DE OLIVEIRA LTDA - ME" />
  <add key="Logomarca" value="C:\Sistemas\Projetos\Sistema\Logo_EradoGelo.jpg" />
  <add key="ImprimeDescontoItem" value="True" />
  <add key="ImprimeFatura" value="True" />
  <add key="ImprimeISSQN" value="False" />
  <add key="ImprimeTotalLiquido" value="False" />
  <add key="DecimaisQuantidade" value="2" />
  <add key="DecimaisValor" value="2" />
  <add key="QuantidadeLinhasImpressao" value="2" />
  <add key="MensagemRodape" />
  <add key="ImprimirFantasia" value="False" />
 </appSettings>
 <system.web>
  <trust level="Full" />
  <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
 </system.web>
</configuration>
