<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="email" value="onlineinfo@ekklesiasoft.com.br" />
  <add key="token" value="6b3c7207a6ee8c631006055499750a7a680460" />
  <add key="idapp" value="6726" />
  <add key="provedor" value="Solutek" />
 </appSettings>
 <system.web>
  <trust level="Full" />
  <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
 </system.web>
</configuration>
